@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/sourcesanspro-bold-webfont.eot");
  src:
    url("/fonts/sourcesanspro-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-bold-webfont.woff") format("woff"),
    url("/fonts/sourcesanspro-bold-webfont.ttf") format("truetype"),
    url("/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/sourcesanspro-regular-webfont.eot");
  src:
    url("/fonts/sourcesanspro-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-regular-webfont.woff") format("woff"),
    url("/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"),
    url("/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/sourcesanspro-it-webfont.eot");
  src:
    url("/fonts/sourcesanspro-it-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sourcesanspro-it-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-it-webfont.woff") format("woff"),
    url("/fonts/sourcesanspro-it-webfont.ttf") format("truetype"),
    url("/fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

p {
  margin: 0;
}

h1 {
  font-size: 4rem !important;
  overflow-x: auto;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  margin: 0;
}

.mantine-AppShell-main {
  padding-bottom: 0;
}

.light {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: #f28a20;
}

.light a {
  color: #f28a20;
}

.dark {
  background-color: #244471;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dark a {
  color: #f28a20;
}

.dark blockquote {
  color: white;
}

body {
  margin: 0;
}

p {
  margin-bottom: 0.5em;
}

.mantine-Select-label {
  font-family: "Source Sans Pro";
}

.mantine-TextInput-label {
  font-family: "Source Sans Pro";
}

.mantine-Textarea-label {
  font-family: "Source Sans Pro";
}

.mantine-DatePicker-label {
  font-family: "Source Sans Pro";
}

.mantine-TimeInput-label {
  font-family: "Source Sans Pro";
}

.mantine-Notification-title {
  font-family: "Source Sans Pro";
}

.mantine-Notification-description {
  font-family: "Source Sans Pro";
}

.mantine-Accordion-label {
  font-family: "Source Sans Pro";
}

.mantine-Accordion-panel {
  font-family: "Source Sans Pro";
}

.mantine-AppShell-main {
  /*
   * I use mantine containers throughout the application, thus i don't need
   * the padding AppShelll gives me.
   */
  padding-left: 0;
  padding-right: 0;
}

.mantine-Header-root div div div img {
  /*
   * For some reason, vseth-canine-ui expects a dark logo/icon and inverts it.
   * This does not work on some mobile browsers. Thus, this disables this
   * and I just provide a white logo.
   */
  filter: None;
}

.blogPost p {
  margin-top: 0.5rem;
}

.ol-rotate {
  display: none;
}

.ol-attribution button {
  display: none;
}

.ol-overlaycontainer-stopevent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ol-attribution {
  background-color: white;
  opacity: 0.8;
  color: black;
}

.header-section-number {
  color: #767676;
  font-size: 0.6em;
}

.bash-guide p {
  margin-top: 10px;
}

.bash-guide pre {
  padding: 0.5rem;
  background-color: rgba(125, 125, 125, 0.1);
  overflow-x: auto;
}

.bash-guide p > code {
  color: #f28a20;
}

.vseth-footer-dark {
  background-color: #1a1b1e !important;
}

.vseth-logo-dark {
  content: url("/images/vseth-inv.svg");
}

.mantine-wvcbqp {
  color: inherit !important;
}

.mantine-1pi5sl0 {
  display: none;
}
